html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
#clock{
	font-family: 'Wallpoet', serif;
	text-align: center;
	position:fixed;
	top: 38%;
	left: 50%;
	font-size: 166px;
	color: red;
	-webkit-text-stroke: 4px black;
	transform: translate(-50%, -50%);
}
body{
	background: url("background2.jpg") no-repeat center center fixed;
	background-size: cover;
}
